{% extends 'dash/insert_update_forms/layout.html' %}


{% block form_content %}

  {% if tuple == {} %}
    <!-- campi da mostrare solo in fase di inserimento, non in fase di update -->

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Username"
        value="{{ tuple.get('username', '') }}"
        required
        autofocus
      >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Email"
        value="{{ tuple.get('email', '') }}"
        required
      >
    </div>

  {% endif %}

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      placeholder="Password"
      value=""
      {% if tuple == {} %} required {% endif %}
    >
  </div>

  {% if tuple == {} %}
    <!-- campi da mostrare solo in fase di inserimento, non in fase di update -->

    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        placeholder="Name"
        value="{{ tuple.get('name', '') }}"
        required
      >
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input
        type="text"
        class="form-control"
        name="surname"
        id="surname"
        placeholder="Surname"
        value="{{ tuple.get('surname', '') }}"
        required
      >
    </div>

    <div class="form-group">
      <label for="birthdate">Birthdate</label>
      <input
        type="date"
        class="form-control"
        name="birthdate"
        id="birthdate"
        value="{{ tuple.get('birthdate', '') }}"
        required
      >
    </div>

    <div class="form-group">
      <label for="registrationDate">Registration date</label>
      <input
        type="date"
        class="form-control"
        name="registrationDate"
        id="registrationDate"
        value="{{ tuple.get('registrationDate', '') }}"
        required
      >
    </div>

  {% endif %}


  <div class="custom-control custom-checkbox">
    <input
      type="checkbox"
      class="custom-control-input"
      name="isOperator"
      id="isOperator"
      {% if tuple.get('isOperator', '') %} checked {% endif %}
    >
    <label class="custom-control-label" for="isOperator">Operator</label>
  </div>

{% endblock %}
