{% extends 'dash/insert_update_forms/layout.html' %}


{% block form_content %}

  {% if tuple == {} %}
    <!-- campi da mostrare solo in fase di inserimento, non in fase di update -->

    <div class="form-group">
      <label for="movie">Movie</label>
      <select class="form-control" name="movie" id="movie" placeholder="Movie" required autofocus>
        <option value=""></option>
        {% for movie in additional_data.movies %}
          <option
            value="{{ movie.id }}"
            {% if movie.id == tuple.get('movie', '') %} selected {% endif %}
          >
            {{ movie.id }} - {{ movie.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="room">Room</label>
      <select class="form-control" name="room" id="room" placeholder="Room" required>
        <option value=""></option>
        {% for room in additional_data.rooms %}
          <option
            value="{{ room.name }}"
            {% if room.name == tuple.get('room', '') %} selected {% endif %}
          >
            {{ room.name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="datetime">Datetime</label>
      <input
        type="datetime-local"
        class="form-control"
        name="datetime"
        id="datetime"
        {% if tuple != {} %}
          value="{{ tuple.get('datetime', '').strftime('%Y-%m-%dT%H:%M') }}"
        {% endif %}
        required
      >
    </div>

  {% endif %}

  <div class="form-group">
    <label for="price">Price (€)</label>
    <input
      type="number"
      class="form-control"
      name="price"
      id="price"
      placeholder="Price"
      min="0" max="100" step="0.01"
      value="{{ tuple.get('price', '') }}"
      required
    >
  </div>

{% endblock %}
